name: Dispatch upload-artifact smoke

on:
  workflow_dispatch:

jobs:
  smoke:
    runs-on: ubuntu-latest
    steps:
      - name: Make file
        run: echo "hello" > hello.txt

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: hello
          path: hello.txt
